.paginationDesign {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}

.pageNumbers {
    width: 18px !important;
    height: 18px !important;
    padding: 12px !important;
    border-radius: 1px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    color: black !important;
}

.pageNumbers:hover {
    background-color: white !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #42A4DF !important;
}

.activePage:hover {
    background-color: #42A4DF !important;
    color: white !important;
    text-decoration: none !important;
}

.prevIcon>img {
    width: 7px;
}

.nextIcon>img {
    width: 7px;
}

.prevIcon,
.nextIcon,
.pageNumbers {
    background: none !important;
    border: none !important;
}

.prevIcon:focus,
.nextIcon:focus {
    background: none !important;
    border: none !important;
}

.prevIcon:active,
.nextIcon:active {
    background: none !important;
    border: none !important;
}

.prevIcon:hover,
.nextIcon:hover {
    background: none !important;
    border: none !important;
}

.activePage {
    background-color: #42A4DF !important;
    color: white !important;
}

.pageCount {
    color: #696969;
    font-size: 11px;
}

.paginatSideMargin {
    margin-left: 90px;
    margin-right: 90px;
}