.document {
	background: #FFFFFF;
	border: 0.5px solid #D7D7D7;
	box-sizing: border-box;
	width: 300px !important;
	height: 72px;
	padding-top: 13px;
	margin-left: 5px;
	margin-top: 5px;
	align-items: center;
}

.topCards {
	background: #FFFFFF;
	border: 0.5px solid #D7D7D7;
	box-sizing: border-box;
	height: 72px;
	/* padding-top: 13px; */
	padding-left: 10px;
	align-items: center;
	display: flex;
}

.cardtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #313131;
	margin-left: unset;
	margin-bottom: 10px;
	margin-bottom: 4px;
	text-transform: capitalize;
}

.cardSubtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #C8C8C8;
	margin-top: -3px;
	margin-bottom: 0;
}

.customCardsWidth {
	flex: 0 0 auto;
	width: 20%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.customCardsWidth {
		flex: 0 0 auto;
		width: 50%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1185px) {
	.customCardsWidth {
		flex: 0 0 auto;
		width: 25%;
	}
}